.pricing__container {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  padding: 0;
  min-height: 100vh;
  background-color: #ecf4fa;
}
.pricing__container .text-underline {
  text-decoration: underline;
}
.pricing__container .desktop_hidden {
  display: none;
}
.pricing__container .pricing__title_container {
  font-size: 2.25rem;
  padding: 20px 0;
}
.pricing__container .pricing__title_container span {
  font-size: 2.25rem;
}
@media (max-width: 420px) {
  .pricing__container .pricing__title_container {
    font-size: 1.75rem;
  }
  .pricing__container .pricing__title_container span {
    font-size: 1.75rem;
  }
}
.pricing__container .pricing__box {
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.pricing__container .pricing__box .row {
  justify-content: center;
}
.pricing__container .pricing__box .first_box {
  background-color: #013c64;
  border-bottom: 5px solid #0f9733;
  color: #f3f3f3;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}
.pricing__container .pricing__box .first_box p {
  margin-bottom: 0;
  width: 100%;
}
@media (max-width: 420px) {
  .pricing__container .pricing__box .first_box p {
    font-size: 1.2rem;
  }
}
.pricing__container .pricing__box .second_box {
  background-image: linear-gradient(to bottom, #e2f0fd, #fff);
  background-color: #e2f0fd;
  font-size: 1.5rem;
}
.pricing__container .pricing__box .second_box .benefits_text {
  margin: 25px 0;
}
@media (max-width: 420px) {
  .pricing__container .pricing__box .second_box .benefits_text {
    font-size: 1.25rem;
  }
}
.pricing__container .pricing__box .second_box .benefits_container {
  font-size: 1.25rem;
  margin: 10px 0 30px 0;
}
.pricing__container .pricing__box .second_box .benefits_container .benefits_item {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing__container .pricing__box .second_box .benefits_container .benefits_item .benefits_item_image {
  max-width: 50px;
  padding-right: 5px;
}
@media (max-width: 720px) {
  .pricing__container .pricing__box .second_box .benefits_container .benefits_item {
    justify-content: start;
  }
}
@media (max-width: 420px) {
  .pricing__container .pricing__box .second_box .benefits_container {
    font-size: 0.9rem;
  }
}
.pricing__container .pricing__box .second_box i {
  color: #0f9733;
}
.pricing__container .pricing_table_container {
  margin-top: 5rem;
  text-align: center;
}
.pricing__container .pricing_table_container p {
  margin: 0;
  font-size: 1.5rem;
}
.pricing__container .pricing_table_container .pricing_tabs {
  font-size: 1.25rem;
  font-weight: bolder;
  border: 1px solid gray;
  border-radius: 10px;
  width: 60%;
  margin: 15px auto;
  display: flex;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.pricing__container .pricing_table_container .pricing_tabs .nav-item {
  flex: 1;
}
.pricing__container .pricing_table_container .pricing_tabs a {
  color: gray;
}
.pricing__container .pricing_table_container .pricing_tabs .nav-link.active {
  color: #f3f3f3;
}
@media (max-width: 420px) {
  .pricing__container .pricing_table_container p {
    font-size: 1rem;
  }
  .pricing__container .pricing_table_container .pricing_tabs {
    font-size: 1rem;
  }
}
.pricing__container .pricing_tab_content_container {
  padding: 0 15px;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content {
  text-align: center;
  flex: 1;
  border: 1px solid gray;
  margin: 0 1px;
  border-radius: 10px;
  opacity: 0.7;
  transition: 1s;
  overflow: hidden;
  height: fit-content;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .pricing_tab_item_title {
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: #afc5d6;
  color: #1c6da3;
  padding: 15px 0;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .hours_container {
  justify-content: center;
  align-items: center;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .hours_container .hours {
  font-weight: bolder;
  font-size: 3rem;
  color: #0f9733;
  flex: 1;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .hours_container .hours_description {
  flex: 5;
  text-align: start;
  font-size: 1.1rem;
}
@media (max-width: 420px) {
  .pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .hours_container .hours {
    font-size: 3rem;
  }
  .pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .hours_container .hours_description {
    font-size: 1rem;
    padding-left: 0;
  }
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .price {
  font-size: 2.75rem;
  font-weight: bolder;
  justify-content: center;
  color: #1c6da3;
  margin: 20px 0;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .price_switch_container {
  justify-content: center;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .price_switch_container .left_label {
  padding-right: 8px;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .price_switch_container .highlight {
  color: #1c6da3;
  font-weight: bold;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .price_label {
  justify-content: center;
  font-size: 1.25rem;
  padding: 0 22px;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .price_label span {
  white-space: pre;
  color: #0f9733;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .price_signup_button_container {
  max-width: 80%;
  margin: 40px auto;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .price_signup_button_container button {
  background-color: #0f9733;
  padding: 10px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .pricing_benefits_container .benefits_list_container {
  padding: 0;
  align-items: center;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .pricing_benefits_container .benefits_list_container .benefits_list_item {
  align-items: center;
  margin: 10px 0;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .pricing_benefits_container .benefits_list_container .benefits_item_image {
  max-width: 50px;
  padding-right: 10px;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .pricing_benefits_container .benefits_list_container .benefits_list_item_description {
  padding-left: 0;
  text-align: start;
}
@media (min-width: 720px) {
  .pricing__container .pricing_tab_content_container .pricing_tab_content .pricing_tab_item_container .pricing_benefits_container .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
.pricing__container .pricing_tab_content_container .additional_benefits_list_container {
  background-image: linear-gradient(to bottom, #e2f0fd, #fff);
  border-top: 2px solid gray;
  padding: 1rem 0;
}
@media (min-width: 720px) {
  .pricing__container .pricing_tab_content_container .additional_benefits_list_container {
    display: block !important;
  }
}
.pricing__container .pricing_tab_content_container .additional_benefits_list_container .additioal_benefits_text {
  color: #1c6da3;
  font-weight: bold;
}
.pricing__container .pricing_tab_content_container .additional_benefits_list_container .benefits_list_item {
  align-items: center;
  margin: 10px 0;
}
.pricing__container .pricing_tab_content_container .additional_benefits_list_container .benefits_item_image {
  max-width: 50px;
  padding-right: 10px;
}
.pricing__container .pricing_tab_content_container .additional_benefits_list_container .benefits_list_item_description {
  padding-left: 0;
  text-align: start;
}
.pricing__container .pricing_tab_content_container .pricing_tab_content:hover {
  opacity: 1;
  transition: 0.5s;
}
.pricing__container .pricing_tab_content_container .collapse_block_button {
  width: 100%;
  margin: 10px 0;
}
.pricing__container .pricing_tab_content_container .showdetails_button.focus,
.pricing__container .pricing_tab_content_container .showdetails_button:focus {
  box-shadow: unset;
}
.pricing__container .pricing_tab_content_container .collapse_block_button:before {
  position: absolute;
  left: 0;
  content: " ";
  display: block;
  margin-top: -20px;
  width: calc(100vw - 30px);
  margin-left: 15px;
  border-bottom: 1px solid grey;
}
@media (max-width: 420px) {
  .pricing__container .pricing_tab_content_container .pricing_tab_content {
    flex: unset;
    margin: 10px 0;
  }
  .pricing__container .pricing_tab_content_container .desktop_hidden {
    display: block;
    width: 100%;
    padding: 6px 0;
  }
}
.pricing__container #pricing_benefits {
  transition: ease;
}

/*# sourceMappingURL=style.css.map */
