// variables

// scss

$pricing_green: #0f9733;
$pricing_blue: #013c64;
$pricing_price_blue: #1c6da3;
$pricing_white: #f3f3f3;
$pricing_border_radius: 10px;
$pricing_box_shadow: 0 10px 10px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
$pricing_layout_breakpoint_small: 420px;
$pricing_layout_breakpoint_medium: 720px;

.pricing__container {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  padding: 0;
  min-height: 100vh;
  background-color: #ecf4fa;

  .text-underline {
    text-decoration: underline;
  }

  .desktop_hidden {
    display: none;
  }

  .pricing__title_container {
    font-size: 2.25rem;
    padding: 20px 0;

    span {
      font-size: 2.25rem;
    }

    @media (max-width: $pricing_layout_breakpoint_small) {
      font-size: 1.75rem;

      span {
        font-size: 1.75rem;
      }
    }
  }

  .pricing__box {
    background-color: #fff;
    overflow: hidden;
    border-radius: $pricing_border_radius;
    box-shadow: $pricing_box_shadow;

    .row {
      justify-content: center;
    }

    .first_box {
      background-color: $pricing_blue;
      border-bottom: 5px solid $pricing_green;
      color: $pricing_white;
      text-align: center;
      padding: 10px;
      font-size: 1.5rem;

      p {
        margin-bottom: 0;
        width: 100%;
      }

      @media (max-width: $pricing_layout_breakpoint_small) {
        p {
          font-size: 1.2rem;
        }
      }
    }

    .second_box {
      background-image: linear-gradient(to bottom, #e2f0fd, #fff);
      background-color: #e2f0fd;
      font-size: 1.5rem;

      .benefits_text {
        margin: 25px 0;

        @media (max-width: $pricing_layout_breakpoint_small) {
          font-size: 1.25rem;
        }
      }

      .benefits_container {
        font-size: 1.25rem;
        margin: 10px 0 30px 0;

        .benefits_item {
          margin-top: 15px;
          display: flex;
          justify-content: center;
          align-items: center;

          .benefits_item_image {
            // max-height: 40px;
            max-width: 50px;
            padding-right: 5px;
          }
        }

        @media (max-width: $pricing_layout_breakpoint_medium) {
          .benefits_item {
            justify-content: start;
          }
        }

        @media (max-width: $pricing_layout_breakpoint_small) {
          font-size: 0.9rem;
        }
      }

      i {
        color: $pricing_green;
      }
    }
  }

  .pricing_table_container {
    margin-top: 5rem;
    text-align: center;

    p {
      margin: 0;
      font-size: 1.5rem;
    }

    .pricing_tabs {
      font-size: 1.25rem;
      font-weight: bolder;
      border: 1px solid gray;
      border-radius: 10px;
      width: 60%;
      margin: 15px auto;
      display: flex;
      box-shadow: $pricing_box_shadow;

      .nav-item {
        flex: 1;
      }

      a {
        color: gray;
      }

      .nav-link.active {
        color: $pricing_white;
      }
    }

    @media (max-width: $pricing_layout_breakpoint_small) {
      p {
        font-size: 1rem;
      }
      .pricing_tabs {
        font-size: 1rem;
      }
    }
  }

  .pricing_tab_content_container {
    padding: 0 15px;

    .pricing_tab_content {
      text-align: center;
      flex: 1;
      border: 1px solid gray;
      margin: 0 1px;
      border-radius: 10px;
      opacity: 0.7;
      transition: 1s;
      overflow: hidden;
      height: fit-content;

      .pricing_tab_item_container {
        .pricing_tab_item_title {
          justify-content: center;
          font-size: 1.5rem;
          font-weight: bolder;
          background-color: #afc5d6;
          color: $pricing_price_blue;
          padding: 15px 0;
        }

        .hours_container {
          justify-content: center;
          align-items: center;

          .hours {
            font-weight: bolder;
            font-size: 3rem;
            color: $pricing_green;
            flex: 1;
          }

          .hours_description {
            flex: 5;
            text-align: start;
            font-size: 1.1rem;
          }

          @media (max-width: $pricing_layout_breakpoint_small) {
            .hours {
              font-size: 3rem;
            }

            .hours_description {
              font-size: 1rem;
              padding-left: 0;
            }
          }
        }

        .price {
          font-size: 2.75rem;
          font-weight: bolder;
          justify-content: center;
          color: $pricing_price_blue;
          margin: 20px 0;
        }

        .price_switch_container {
          justify-content: center;

          .left_label {
            padding-right: 8px;
          }

          .highlight {
            color: $pricing_price_blue;
            font-weight: bold;
          }
        }

        .price_label {
          justify-content: center;
          font-size: 1.25rem;
          padding: 0 22px;
          span {
            white-space: pre;
            color: $pricing_green;
          }
        }

        .price_signup_button_container {
          max-width: 80%;
          margin: 40px auto;

          button {
            background-color: $pricing_green;
            padding: 10px 0;
            box-shadow: $pricing_box_shadow;
          }
        }

        .pricing_benefits_container {
          .benefits_list_container {
            padding: 0;
            align-items: center;

            .benefits_list_item {
              align-items: center;
              margin: 10px 0;
            }

            .benefits_item_image {
              // max-height: 40px;
              max-width: 50px;
              padding-right: 10px;
            }
            .benefits_list_item_description {
              padding-left: 0;
              text-align: start;
            }
          }

          @media (min-width: $pricing_layout_breakpoint_medium) {
            .collapse.dont-collapse-sm {
              display: block;
              height: auto !important;
              visibility: visible;
            }
          }
        }
      }
    }
    .additional_benefits_list_container {
      background-image: linear-gradient(to bottom, #e2f0fd, #fff);
      border-top: 2px solid gray;
      padding: 1rem 0;

      @media (min-width: $pricing_layout_breakpoint_medium) {
        display: block !important;
      }

      .additioal_benefits_text {
        color: #1c6da3;
        font-weight: bold;
      }

      .benefits_list_item {
        align-items: center;
        margin: 10px 0;
      }

      .benefits_item_image {
        // max-height: 40px;
        max-width: 50px;
        padding-right: 10px;
      }
      .benefits_list_item_description {
        padding-left: 0;
        text-align: start;
      }
    }

    .pricing_tab_content:hover {
      opacity: 1;
      transition: 0.5s;
    }

    .collapse_block_button {
      width: 100%;
      margin: 10px 0;
    }

    .showdetails_button.focus,
    .showdetails_button:focus {
      box-shadow: unset;
    }

    .collapse_block_button:before {
      position: absolute;
      left: 0;
      content: " ";
      display: block;
      margin-top: -20px;
      width: calc(100vw - 30px);
      margin-left: 15px;
      border-bottom: 1px solid grey;
    }

    @media (max-width: $pricing_layout_breakpoint_small) {
      .pricing_tab_content {
        flex: unset;
        margin: 10px 0;
      }

      .desktop_hidden {
        display: block;
        width: 100%;
        padding: 6px 0;
      }
    }
  }

  #pricing_benefits {
    transition: ease;
  }
}
